body{
    background-color: hsl(47, 88%, 63%);
    align-items: center;
    display: flex;
    justify-content: center;
}

.container{
    background-color: white;
    width: 350px;
    height: 300px;
    margin-top: 100px;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 210px;
    box-shadow: 5px 10px 0px 7px hsl(0, 0%, 0%);
    font-family: Arial, Helvetica, sans-serif;
}

#illustration-article{
    border-radius: 10px;
}

p{
  font-size: 16px;
}

.author-info {
    display: flex;
    align-items: center;
}

.author-info img {
    margin-right: 10px;
}

#title:hover{
    color: hsl(47, 88%, 63%);
}